@import '//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic';
@import '//fonts.googleapis.com/icon?family=Material+Icons';

.md-toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.card-list {
  margin-top: 80px;
}
.md-layout.user {
  padding: 8px;
}
.md-layout.contact {
  padding: 8px;
}
.md-layout.contact > .md-card {
  background-color: #fec;
}
.md-card {
  min-height: 264px;
  justify-content: space-between;
}
.back .md-card .md-card-content {
  line-height: 12px;
}
.flip-container {
  perspective: 1000px;
}
.flip-container.reverse .flipper {
  transform: rotateY(180deg);
}
.flip-container, .front, .back {
  width: 100%;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  height: 280px;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}
.back .md-card-actions {
  align-items: flex-end;
}
