<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule  ^/.*phonebook.xml$  /xml/grandstream  [L]
    RewriteRule  ^/yealink.xml$      /xml/yealink      [L]

    RewriteRule  ^(.*)$  /index.php [L]
</IfModule>

ExpiresByType  text/javascript  "modification plus 1 days"
ExpiresByType  text/css         "modification plus 1 days"
