script#contact-card-template(type="x-template")
  .flip-container(ref="flip-container")
    .flipper
      .front
        md-layout(:class="contact.objectClass")
          md-card.md-flex-100.md-with-hover
            md-card-header(:title='contact.title ? "Vínculo: " + contact.title : ""')
              md-card-header-text
                .md-headline {{ contact.fullName }}
              md-card-media
                img(v-if="contact.id" :src="'/contacts/' + contact.id + '.jpg'" alt="Foto")
                img(v-if="!contact.id" src="/images/logo.png")
            md-card-content
              p(v-if="contact.department") Lotação: 
                strong {{ contact.department }} 
                  span(v-if="contact.physicalDeliveryOfficeName") - {{ contact.physicalDeliveryOfficeName }}
            md-card-actions
              md-button(:title='defaultPhone')
                a.md-display-1(:href="'tel:' + defaultPhone") {{ defaultPhone }}
              .md-flex
              md-button(@click.native='invert') Ver mais detalhes
      .back
        md-layout(:class="contact.objectClass")
          md-card.md-flex-100.md-with-hover
            md-card-content
              p(v-if="contact.title") Vínculo: 
                strong {{ contact.title }}
              p(v-if="contact.emails.mail") Mail: 
                strong {{ contact.emails.mail }}
              p(v-for="(phone, key) in contact.phones")
                span(v-if="Array.isArray(phone)")
                  p(v-for="num in phone") {{ labels[key] }}: 
                    strong {{ num }}
                span(v-else) {{ labels[key] }}: 
                  strong {{ phone }}
            md-card-actions
              md-button(v-if="contact.objectClass=='user'")
                a(:href="'/contacts/' + contact.id + '.vcf'") Baixar vCard
              .md-flex
              md-button(@click.native="revert") voltar
