script#counters-template(type="x-template")
  md-layout.md-flex-100(v-if="count")
    p(v-if="count >= limitedList.length") Encontrado(s) {{ count }} contato(s).
    p(v-if="count > limitedList.length") Mostrando apenas os primeiros {{ limitedList.length }}.
