include ./search-field
include ./card-list
include ./counters
include ./contact-card

script#app-template(type="x-template")
  #app.phone-viewport
    md-toolbar
      md-layout
        h1.md-title Bina
      search-field
    card-list
