script#search-field-template(type="x-template")
  md-layout.md-flex-20.md-flex-small-33.md-flex-xsmall-100
    md-input-container
      label Busca
        md-input(tabindex="1" @keyup.native="filterChanged")
