html
  head
    title=title || 'Bina'
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="/styles/app.css")
    link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
    link(rel="manifest" href="/manifest.json")
  body
    block content
    script(type="text/javascript" src="/scripts/vendors.js")
    script(type="text/javascript" src="/scripts/app.js")
