<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="128x128" href="favicon.png">
	<link rel="apple-touch-icon-precomposed" href="favicon.png">
    <meta name="theme-color" content="#fcf8e3">
    <title>Busca de ramais</title>
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jfal.css">
</head>
<body ng-app="bina">
    <div class="container-fluid" ng-controller='buscaController'>
        <header class="row text-warning">
            <h1>Busca de ramais</h1>
            <p>Caso haja erro no cadastro, favor informar ao NTI (ramal 4159).</p>
            <label for='search'>Nome:</label>
            <input ng-model="search" id='search' placeholder="fulano da silva" tabindex="1">
            <cards-counter/>
        </header>
        <content class="sr-only" ng-attr-class="{{search.length > 2 ? 'row' : 'sr-only'}}">
            <div ng-if="search.length > 2">
                <div class="col-md-4 col-sm-6" ng-repeat="contato in contatos | filter:search | orderBy:'displayname'">
                    <card />
                </div>
            </div>
        </content>
        <footer class="row">
            <p><a href="mailto:nti@jfal.jus.br"><span class="glyphicon glyphicon-globe"></span> Desenvolvido pelo NTI/JFAL</a></p>
        </footer>
    </div>
<script src="vendors/angular/angular.min.js"></script>
<script src="vendors/jquery/dist/jquery.min.js"></script>
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/jfal.js"></script>
</body>
</html>
